extends layout
block styles
  link(rel='stylesheet', type='text/css', href='/stylesheets/font-awesome.min.css')
  link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  link(rel='stylesheet', href='/stylesheets/hamburgers.min.css')
  link(rel='stylesheet', href='/stylesheets/main.css')
block body-content
  section(style = "padding-top:120px;margin-bottom:30px;")
    .container
      form(method="POST", action="/cart/checkout")
          .col-md-12
            h3.mb-4 Thông tin đơn hàng
            table.table
              thead
                tr
                  th(scope='col') Img
                  th(scope='col') Tên sách
                  th(scope='col') Số lượng
                  th(scope='col') Giá
              tbody
                each item in products
                  tr
                    td
                      img(src=item.img,style="width:30px;")
                    td= item.name
                    td
                      input.pro-number(type="number", value="1", style="padding-left: 10px; width: 65px")
                    td.label-price
                      p(data-price= item.price)= item.price
          .col-md-12
            h3.mb-4.mt-5 Thông tin khách hàng
            .form-row
              .form-group.col-md-6
                label(for='inputEmail') Email
                input#inputEmail.form-control(type='email', placeholder='Email', required)
              .form-group.col-md-6
                label(for='inputPhone') Phone
                input#inputPhone.form-control(type='text', placeholder='Phone', required)
            .form-row
              .form-group.col-md-6
                label(for='inputName') Name
                input#inputName.form-control(type='text', placeholder='Name', required)
              .form-group.col-md-6
                label(for='inputAddress') Address
                input#inputAddress.form-control(type='text', placeholder='Your address', required)
            button.btn.btn-primary.mt-3(type='submit') Đặt Hàng
