extends layout
block styles
  link(rel='stylesheet', type='text/css', href='/stylesheets/font-awesome.min.css')
  link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  link(rel='stylesheet', href='/stylesheets/hamburgers.min.css')
  link(rel='stylesheet', href='/stylesheets/main.css')
  link(rel='stylesheet', href='/stylesheets/product.css')

block body-content
  section(style = "padding-top:100px;")
    .container
      .box-sologan.d-flex.flex-wrap.justify-content-around.mb-5.pt-5
        h3.mb-4.w-100.text-center
          | Bookstore
        .sologan.text-center
          p Sách chính hãng
        .sologan.text-center
          p Đảm bảo giá cả
        .sologan.text-center
          p Hỗ trợ nhiệt tình
        .sologan.text-center
          p Giao hàng miễn phí
      .box-product.d-flex.flex-wrap
        each product in listProducts
          .col-md-3.col-sm-6.box-product
            .product
              .product-img
                img(src=product.img, alt='')
              .product-info.text-center
                span.product-name.medium-text= product.name
                span.product-price.mb-2= product.price
                .btn-group
                  a.btn.btn-secondary Xem
                  a(data-id= product.id).btn.btn-secondary.btn-addtocart Mua