/* **************Banner ***********/
.banner{
	width: 100%;
	overflow: hidden;
}
.banner img{
	width: 100%;
}


/* *************Ads *************/
.ads .outer{
	border: 1.5px solid #d0c4c4;
	padding: 5px;
}
.ads .inner{
	border: 1.5px solid #d0c4c4;
	padding: 20px 0;
}
.ads a{
	display: inline-block;
	background-color: #333;
	color: #fff;
	padding: 8px 14px;
}

/* *************Banner small *************/
.banner-small {
	overflow: hidden;
}
.banner-small img{
	width: 100%;
	transition: all .5s;
}
.banner-small:hover img{
	transform: scale(1.2);
}